<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Endpoint" value="https://api.ebay.com/wsapi" />
    <add key="AppID" value="TaNam-namtvich-PRD-f69ec6b8e-82ae35ba" />
    <add key="DevID" value="5b2676b5-827d-4366-943d-b4683d99ac4b" />
    <add key="CertID" value="PRD-69ec6b8ea699-7fd3-464a-8259-a14c" />
    <add key="Token" value="AgAAAA**AQAAAA**aAAAAA**YDZeXg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6MFkIWiCZmEowSdj6x9nY+seQ**+zsGAA**AAMAAA**w5aCtv2WbjlM1YpE/Jb3G1T4cG3kXZLulnwXUfknnkIJXeiQ56Tch8O6Fg1c/hroNkJW6z9JYrt8aMp7dF7WuCv6EDtAuy32TMmV9fBtLIAfba5wj6HI/zWu+p4VXaqCBQoqF7RJAJxsVfw1FnNToGy+M2vY/bWO2OfWl8B7q2seDqTkFo6YVxubHSEZAoBOe0/HC7m6b5t7GTyKdYk7OnT7yLjxQ7GOHqDP4FiKrSU7I6q569yO9AzTpcZg0zlEw7CEt5Y3EM02nGIMlFrtLgCnWMGLl1cR/C1cnxe184eH4QLx0En5cRGMnXe1Xjh5jz+i18Ztmx8A6MnYZRMuYZziTFTmfD2WdBNrYAWF4fPrIyeEEtS9MaErHiqw6eGQdgZs1OtajVL0pnXrf/7X0NzQTbVYCDjIxYs1ilnCUMcs0QlWKBeC6+HX2qqzYM4VOsx+fFPjhATSb+OhUKh55PVvkhJaR7298PHdaQ4pNWMODZDV+AaJnjGGwa+RSrYzCNvRbMReWAwH/6SFnpwnkd5ThWLaWkt74uXJXlmXexi5xvg+zcrSXloW2HhvV+FGiK01wpnPqvI94UU2xkg5ed/U4jw7Hp5d97kcq1AB2X1qBxiAbxGHqvNdLHXszwFo1rblwMveBTewPm3yIck3ooYtPYkvRn1ghLi9kieNggNzWQCM86wFpge7e75U/rDkC+7xTIvjhXhpwm6M1VNGenfvLmqX62MiwfQcK9vXR2niMZ0IcUikIj241qGyLikK" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>